@font-face {
  font-family: 'Renosy_18';
  src:  url('../fonts/Renosy_18.eot');
  src:  url('../fonts/Renosy_18.eot') format('embedded-opentype'),
    url('../fonts/Renosy_18.woff2') format('woff2'),
    url('../fonts/Renosy_18.ttf') format('truetype'),
    url('../fonts/Renosy_18.woff') format('woff'),
    url('../fonts/Renosy_18.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'Renosy_18' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-buy:before {
  content: "\41";
}
.icon-sell:before {
  content: "\42";
}
.icon-renovation:before {
  content: "\43";
}
.icon-invest:before {
  content: "\44";
}
.icon-crowdfunding:before {
  content: "\45";
}
.icon-magazine:before {
  content: "\46";
}
.icon-mypage:before {
  content: "\47";
}
.icon-supermarket:before {
  content: "\48";
}
.icon-convenience_store:before {
  content: "\49";
}
.icon-restaurant:before {
  content: "\4a";
}
.icon-school:before {
  content: "\4b";
}
.icon-kindergarten:before {
  content: "\4c";
}
.icon-hospital:before {
  content: "\4d";
}
.icon-park:before {
  content: "\4e";
}
.icon-bank:before {
  content: "\4f";
}
.icon-police:before {
  content: "\50";
}
.icon-post_office:before {
  content: "\51";
}
.icon-drug_store:before {
  content: "\52";
}
.icon-sports:before {
  content: "\53";
}
.icon-library:before {
  content: "\54";
}
.icon-cram_school:before {
  content: "\55";
}
.icon-search:before {
  content: "\56";
}
.icon-tel:before {
  content: "\57";
}
.icon-mail:before {
  content: "\58";
}
.icon-house:before {
  content: "\59";
}
.icon-mansion:before {
  content: "\5a";
}
.icon-train:before {
  content: "\61";
}
.icon-address:before {
  content: "\62";
}
.icon-calendar:before {
  content: "\63";
}
.icon-focus:before {
  content: "\64";
}
.icon-chat:before {
  content: "\65";
}
.icon-arrow_left:before {
  content: "\66";
}
.icon-arrow_right:before {
  content: "\67";
}
.icon-arrow_up:before {
  content: "\68";
}
.icon-arrow_down:before {
  content: "\69";
}
.icon-plus:before {
  content: "\6a";
}
.icon-minus:before {
  content: "\6b";
}
.icon-close:before {
  content: "\6c";
}
.icon-external_link:before {
  content: "\6d";
}
.icon-download:before {
  content: "\6e";
}
.icon-garbage:before {
  content: "\6f";
}
.icon-check:before {
  content: "\70";
}
.icon-check_box:before {
  content: "\71";
}
.icon-check_circle:before {
  content: "\72";
}
.icon-caution_circle:before {
  content: "\73";
}
.icon-help_circle:before {
  content: "\74";
}
.icon-info:before {
  content: "\75";
}
.icon-photo:before {
  content: "\76";
}
.icon-pin:before {
  content: "\77";
}
.icon-facebook:before {
  content: "\78";
}
.icon-twitter:before {
  content: "\79";
}
.icon-bookmark:before {
  content: "\7a";
}
.icon-gear_mansion:before {
  content: "\3042";
}
.icon-sparkle_mansion:before {
  content: "\3044";
}
.icon-paper_ruler:before {
  content: "\3046";
}
.icon-man_mansion:before {
  content: "\3048";
}
.icon-man_money:before {
  content: "\304a";
}
.icon-portal_site:before {
  content: "\304b";
}
.icon-network:before {
  content: "\304d";
}
.icon-both_hand_money:before {
  content: "\304f";
}
.icon-electronic_calculator:before {
  content: "\3051";
}
.icon-interior:before {
  content: "\3053";
}
.icon-man_check:before {
  content: "\3055";
}
.icon-paper_pen:before {
  content: "\3057";
}
.icon-paper_ribbon:before {
  content: "\3059";
}
.icon-cycle_money:before {
  content: "\305b";
}
.icon-hand_money:before {
  content: "\305d";
}
.icon-man_sparkle:before {
  content: "\305f";
}
.icon-streetview:before {
  content: "\3061";
}
.icon-building:before {
  content: "\3064";
}
.icon-area:before {
  content: "\3066";
}
.icon-star_line:before {
  content: "\3068";
}
.icon-star:before {
  content: "\306a";
}
.icon-japanese_islands:before {
  content: "\306b";
}
.icon-conversation:before {
  content: "\306c";
}
.icon-paper_money:before {
  content: "\306d";
}
.icon-facility:before {
  content: "\306e";
}
.icon-after_service:before {
  content: "\306f";
}
.icon-construction:before {
  content: "\3072";
}
.icon-company:before {
  content: "\3075";
}
