<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Finance corp</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

  <link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP" rel="stylesheet">
  <link href="css/font.css" rel="stylesheet">
  <link href="css/style.css" rel="stylesheet">

</head>
<body>
  <header>
    <div class="container">
      <h1 class="logo"><img src="img/logo.png" alt=""></h1>
    </div>
  </header>
