<!DOCTYPE html>
<html lang="ja">
<%- include('template/_header') %>
  <main class="sub_page privacy_policy">
    <div class="sub_page_container">
      <h2 class="sub_page_title">反社会的勢力に対する基本方針</h2>
      <div class="sub_page_intro">株式会社GA technologies（以下「当社」という。）は、政府が策定した「企業が反社会的勢力による被害を防止するための指針」に則り、反社会的勢力に対する基本方針を定めるとともに、この基本方針を実現するための体制を構築し、業務の適切性および健全性を確保することを宣言します。</div>
      <div class="privacy_content pt0">
        <ol>
          <li><span>当社は、取引関係を含め、反社会的勢力との一切の関係を遮断します。</span></li>
          <li><span>当社は、反社会的勢力からの不当要求の一切を拒絶します。</span></li>
          <li><span>当社は、反社会的勢力からの不当要求に対し、組織全体で対応し、民事・刑事の両面から法的な手段を講じます。</span></li>
          <li><span>当社は、反社会的勢力による不当要求に備えて、外部専門機関と緊密な連携関係を構築します。</span></li>
          <li><span>当社は、反社会的勢力に対する資金提供を行いません。</span></li>
          <li><span>当社は、常に反社会的勢力からの介入に注意し、従業員の安全を確保します。</span></li>
          <li><span>役員及び従業員は、本基本方針及び法令を遵守するとともに、反社会的勢力関係者との交際・交流はもとより、その関係を疑われる行為の一切を行いません。</span></li>
        </ol>
      </div>
    </div>
  </main>
  <%- include('template/_footer') %>
</body>
</html>
