<!DOCTYPE html>
<html lang="ja">
<%- include('template/_header') %>
  <main class="sub_page privacy_policy">
    <div class="sub_page_container">
      <h2 class="sub_page_title">コンプライアンス</h2>
      <div class="sub_page_intro">当社では、法令遵守体制の構築を目的として「コンプライアンス規程」を定め、役員及び社員の法令及び社会規範の遵守の浸透、啓発を図っております。推進にあたっては、代表取締役社長を委員長とする「コンプライアンス委員会」を設置し、定期的に施策の確認等を実施しております。<br>
        また、下記の通り、業務遂行にあたっての法令及び社内規定の遵守､社会規範を尊重､公正かつ適切な事業活動を行うための原則を掲げ、コンプライアンス体制の確立に取り組んでおります。 当社は企業活動及び社会貢献の使命達成のため取引先企業やお客様、および当社従業者からお預かりした個人情報は、その取扱いに関しまして本個人情報保護方針を定め、厳正な管理のもとでその責務を履行してまいります。</div>
      <div class="privacy_content">
        <ul>
          <li>
            <strong>法令･社会規範の遵守</strong><br>
            業務に関係する法令及びその趣旨を正しく理解し､これを遵守します｡また、社会規範に則った良識ある倫理的な事業活動を行います｡<br>
            個人情報の取扱い、その他詳細項目は関連ページに掲載しております。
          </li>
          <li>
            <strong>お客様からの信頼</strong><br>
            お客様からの信頼を確保するため､お客様のご意見を尊重し､お客様のニーズにあった良質で､安全な商品・サービスの提供に努めます｡
          </li>
          <li>
            <strong>公正な事業活動</strong><br>
            すべての取引先に対して､良識と誠実さをもって公正にして透明度の高い事業活動を行います｡
          </li>
          <li>
            <strong>社会への貢献・責任</strong><br>
            事業活動はもとより､社会での活動を通じて､社会への貢献に努めます｡
          </li>
          <li>
            <strong>人権尊重・健全な職場環境</strong><br>
            すべての人々の人権を尊重し､不当な差別などにつながる行為は容認しません｡<br>
            また､従業員の安全と健康の確保に努め､互いに信頼感のある健全な職場環境の維持に努めます｡
          </li>
          <li>
            <strong>コンプライアンス体制の推進・改善</strong><br>
            本規範に基づき､常に自らの活動を律するとともに､コンプライアンス体制の推進･改善に努めます｡
          </li>
        </ul>
      </div>
    </div>
  </main>
  <%- include('template/_footer') %>
</body>
</html>
