<!DOCTYPE html>
<html lang="ja">
<%- include('template/_header') %>
  <main class="sub_page corprate_confirm">
    <div class="sub_page_container">
      <div class="corprate_success">
        <p class="icon icon-check_circle"></p>
        <h2>お問い合わせ<br>ありがとうございます。</h2>
        <p>入力していただいた内容を担当者が確認し、<br>あらためてご連絡いたします。</p>
      </div>
      <div class="main_button"><a href="">Renosy Financeトップへ</a></div>
    </div>
  </main>
  <%- include('template/_footer') %>
</body>
</html>
