<!DOCTYPE html>
<html lang="ja">
<%- include('template/_header') %>
  <main>
    <div class="main_visual">
      <div class="container">
        <h2 class="pc_only"><img src="img/mv.svg" alt=""></h2>
        <h2 class="sp_only"><img src="img/mv_sp.svg" alt=""></h2>
        <p>Renosy Financeでは、FinTechと<br>ReTechの融合により、新しい不動産取引体験を創造していくことを目指します。</p>
      </div>
    </div>
    <section class="introduce">
      <div class="container">
        <div class="introduce_title">テクノロジー x イノベーションで、人々に感動を。</div>
        <div class="introduce_content">
          <p>不動産を対象とするクラウドファンディングサービスや入居者向け家賃債務保証サービスの提供をしており、個人向けサービス (BtoC)の拡充を積極的に推進しています。</p>
          <p>企業向けサービス(BtoB)については、オンライン完結型の不動産用ローン審査システムの金融機関への提供も開始しており、今後一層充実させていく方針です。</p>
          <p>当社は、個人向け、 企業向けにとらわれず不動産に関わるさまざまなサービスや業務をテクノロジーの活用を通じて効率化・最適化することで、顧客やユーザー、はたまた業務に携わる全ての人々の体験をより良いものへと変えていくことを展望しています。</p>
        </div>
      </div>
    </section>
    <section class="service">
      <div class="container">
        <div class="main_title">
          <p class="sub_title">SERVICE</p>
          <p class="e_title">事業内容</p>
        </div>
        <div class="service_display">
          <div class="service_inner">
            <div class="service_inner_item">
              <div class="service_inner_item_title">
                <p class="icon-hand_money icon"></p>
                <p class="title">貸金業</p>
              </div>
              <div class="service_inner_item_content">テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</div>
            </div>
            <div class="service_inner_item">
              <div class="service_inner_item_title">
                <p class="icon-crowdfunding icon"></p>
                <p class="title">クラウドファンディング業</p>
              </div>
              <div class="service_inner_item_content">テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</div>
            </div>
            <div class="service_inner_item">
              <div class="service_inner_item_title">
                <p class="icon-invest icon"></p>
                <p class="title">投資運用業</p>
              </div>
              <div class="service_inner_item_content">テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</div>
            </div>
          </div>
          <p class="e_link"><a href="#">and more …</a></p>
        </div>
      </div>
    </section>
    <section class="news">
      <div class="container">
        <div class="main_title">
          <p class="sub_title">NEWS</p>
          <p class="e_title">ニュース</p>
        </div>
        <div class="news_inner">
          <dl>
            <dt>2019.01.20</dt>
            <dd><a href="">テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</a></dd>
            <dt>2019.01.20</dt>
            <dd><a href="">テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</a></dd>
            <dt>2019.01.20</dt>
            <dd><a href="">テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</a></dd>
          </ul>
        </div>
      </div>
    </section>
    <section class="about">
      <div class="container">
        <div class="about_inner">
          <div class="main_title">
            <p class="sub_title">ABOUT</p>
            <p class="e_title">会社概要</p>
          </div>
          <dl>
            <dt>会社名</dt>
            <dd>Renosy Finance 株式会社</dd>
            <dt>代表者</dt>
            <dd>代表取締役 樋口 龍</dd>
            <dt>所在地</dt>
            <dd>〒150-0012<br>東京都渋谷区広尾1-1-39  <br class="sp_only">恵比寿プライムスクエア</dd>
            <dt>設立</dt>
            <dd>2018年11月19日</dd>
            <dt>事業内容</dt>
            <dd>
              <ul>
                <li>・貸金業</li>
                <li>・クラウドファンディング業</li>
                <li>・投資運用業</li>
              </ul>
            </dd>
            <dt>取引先銀行</dt>
            <dd>みずほ銀行</dd>
            <dt>関連会社</dt>
            <dd>
              <p><a href="">株式会社GA technologies</a><span class="icon-external_link"></span></p>
              <p><a href="">リーガル賃貸保証株式会社</a><span class="icon-external_link"></span></p>
              <p><a href="">イタンジ株式会社</a><span class="icon-external_link"></span></p>
            </dd>
          </dl>
        </div>

      </div>
    </section>
    <section class="contact">
      <div class="container">
        <div class="contact_inner">
          <div class="main_title">
            <p class="sub_title">CONTACT</p>
            <p class="e_title">お問い合わせ</p>
          </div>
          <div class="contact_inner_content">
            <p>Renosy Financeに関するお問い合わせ・ご質問は下記のメールアドレスよりお願いします。</p>
            <form action="" class="e_form" data-js-elm="form">
              <div class="item contactName required">
                <div class="item_header">お名前<span>*</span></div>
                <div class="item_body">
                  <input name="contactName" type="text" placeholder="例) 山田 太郎">
                </div>
              </div>
              <div class="item contactPhoneticName">
                <div class="item_header">ふりがな</div>
                <div class="item_body">
                  <input name="contactPhoneticName" type="text" placeholder="例）やまだ たろう">
                </div>
              </div>
              <div class="item contactEmail required">
                <div class="item_header">メールアドレス<span>*</span></div>
                <div class="item_body">
                  <input name="contactEmail" type="text" placeholder="例）renosy@ga-tech.co.jp">
                  <span class="note">※半角で入力</span>
                </div>
              </div>
              <div class="item contactPhoneNumber required">
                <div class="item_header">電話番号<span>*</span></div>
                <div class="item_body">
                  <input name="contactHomePhoneNumber" type="text" class="w400" placeholder="例）09012345678" maxlength="11">
                  <span class="note">※半角、ハイフンなしで入力</span>
                </div>
              </div>
              <div class="item free required">
                <div class="item_header">お問い合わせ内容<span>*</span></div>
                <div class="item_body">
                  <textarea name="content" placeholder="お問い合わせ内容をご記入してください。" rows="4"></textarea>
                </div>
              </div>
              <div class="privacy"><span><a href="">反社会的勢力に対する基本方針・個人情報のお取扱い</a></span>を一読のうえ、確認画面へお進みください。</div>
              <div data-js-elm="submit" name = "Submit" class="btn_submit" data-disabled="true">
                  入力内容を確認
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
  </main>
  <%- include('template/_footer') %>
  <script src="js/validation.js"></script>
</body>
</html>
