<!DOCTYPE html>
<html lang="ja">
<%- include('template/_header') %>
  <main class="sub_page privacy_policy">
    <div class="sub_page_container">
      <h2 class="sub_page_title">プライバシーポリシー</h2>
      <div class="sub_page_intro">株式会社　GA technologies （以下「当社」という）は、不動産、マンションなどの共同住戸、家屋などの管理業務及び売買等の事業を行っております。<br>当社は企業活動及び社会貢献の使命達成のため取引先企業やお客様、および当社従業者からお預かりした個人情報は、その取扱いに関しまして本個人情報保護方針を定め、厳正な管理のもとでその責務を履行してまいります。</div>
      <div class="privacy_content">
        <h3 class="privacy_content_title">当社方針</h3>
        <ol>
          <li>当社は事業目的遂行のため、利用目的を明確化した上で、適切な方法での取得、利用、提供などを行い、取得した個人情報は利用目的の範囲内の利用とし、目的外の利用を行わない様に措置を講じます。</li>
          <li>当社は、取扱う個人情報（特定個人情報を含む）の全てにおき個人情報の取扱いに関する法令、国が定める指針及びその他の規範を遵守いたします。</li>
          <li>お預かりした個人情報の一部又は全部を委託する場合は、管理水準の基準を満たした企業及び個人を選定し、契約を行い、適切な措置と管理を講じます。</li>
          <li>当社は、個人情報の漏洩、滅失，き損及び破壊などの危険な状況に対し十分に安全防止管理及び対策を行い、是正措置を講じます。</li>
          <li>当社は個人情報をお預かりした本人からの個人情報の開示等のご要請にお答えし対応します。</li>
          <li>苦情のご相談に対してはご相談窓口を設け、誠意を持ち迅速に対応をいたします。</li>
          <li>当社は、当社の個人情報マネジメントシステムを継続的に見直すとともに随時改善に取り組んでまいります。またこれに応じて当社プライバシーポリシーを変更することがあります。</li>
        </ol>
        <div class="sub_page_intro">尚、当社の個人情報マネジメントシステムは日本工業規格JISQ１５００１-２００６に準拠しております。 個人情報の取扱い、その他詳細項目は関連ページに掲載しております。</div>
        <dl>
          <dt>制　定　日：</dt>
          <dd>２０１６年７月１日</dd>
          <dt> 最終改定日：</dt>
          <dd>２０１８年７月２３日</dd>
        </dl>
        <div class="sub_page_intro"> 株式会社 GA technologies<br>代表取締役　樋口　龍</div>
        <div class="sub_page_intro">〒150-0012<br>東京都渋谷区広尾1-1-39 恵比寿プライムスクエア 5F 8F<br>TEL:03-5468-7056 FAX:03-5468-7161</div>
        <div class="sub_page_intro">※株式会社GA technologiesは「プライバシーマーク」使用許諾事業者として認定されています。</div>
        <div class="sub_page_intro"><img src="img/p_mark.png" alt=""></div>
        <div class="main_button"><a href="privacy_protection.html">個人情報のお取扱いにつきまして</a></div>
      </div>
    </div>
  </main>
  <%- include('template/_footer') %>

</body>
</html>
