<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <title>新春！特別ご来場キャンペーン | Renosy</title>
  <meta name="description" content="">
  <meta name="generator" content="HubSpot">
  <meta property="og:description" content="">
  <meta property="og:title" content="新春！特別ご来場キャンペーン | Renosy">
  <meta name="format-detection" content="telephone=no">
  <meta data-js-elm="viewport" name="viewport" content="width=device-width, initial-scale=0.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">

  <!--[if IE]>
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <![endif]-->

  <!-- favicon -->
  <link rel="shortcut icon" href="https://landing.renosy.com/hubfs/renew_favicon.ico">
  <link rel="stylesheet" href="assets/css/index.css">
  <link rel="stylesheet" href="assets/css/common.css">
  <link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP" rel="stylesheet">

  <script src="assets/lib/jquery/jquery-3.2.1.min.js"></script>

</head>
<body>
<header class="header">
  <h2 class="logo"><a href="https://www.renosy.com/" target="_blank"><img src="assets/images/logo.png" alt=""></a></h2>
</header>
  <div class="main_visual pc_only">
    <div class="container"><img src="assets/images/main_image_pc.png" alt=""></div>
  </div>
  <div class="main_visual sp_only"><img src="assets/images/main_image.png" alt=""></div>
  <section class="info">
    <div class="container">
      <p class="mb0">平素よりRenosyをご愛顧いただきまして誠にありがとうございます。</p>
      <p>日頃の感謝の思いを込めて、不動産投資のご相談でご利用いただける「1月限定！新春ご来場キャンペーン」をご用意させていただきました。</p>
      <p>1月11日(金)〜1月23日(水)で期間限定のお得なキャンペーンとなりますので、ぜひご利用ください。</p>
      <div class="note">※キャンペーンには適用条件がございます。ページ下部の適用条件をご覧ください。</div>
    </div>
  </section>
  <section class="request">
    <div class="container">
      <h3>こんな疑問やご要望は<span>ありませんか？</span></h3>
    </div>

    <img src="assets/images/img01.png" alt="" class="sp_only">
    <div class="container">
      <img src="assets/images/img01_pc.png" alt="" class="pc_only">
      <p>このようなお悩み・ご要望はこの機会にぜひご相談ください。</p>
      <div class="main_btn"><a href="#contact">今すぐ無料で相談する</a></div>
    </div>
  </section>
  <section class="introduce">
    <div class="container">
      <h3>Renosyの不動産投資とは</h3>
      <p>Renosyでは、自社開発のAIを活用し「収益性」「資産性」を客観的に評価するために独自のスコアリング指標を採用し、投資価値の高い物件のみを厳選。<br>業界トップ水準の管理手数料（月額一律1,080円）にも関わらず、手厚い保証とサポートで安心して投資を始めることができます。</p>
      <div class="image">
        <img src="assets/images/img02.png" alt="">
      </div>

      <iframe src="https://www.youtube.com/embed/nQ6TNfu--wY?rel=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen class="mb0"></iframe>
    </div>
  </section>
  <section class="overview">
    <div class="container">
      <h3>キャンペーン概要</h3>
      <p>不動産投資の個別相談にご来場で<span>Amazonギフト券20,000円分</span>をプレゼントいたします。</p>
      <img src="assets/images/img04.png" alt="">
      <p>1月11日(金)〜1月23日(水)の期間限定キャンペーンとなります。<br>ご来場は予約制となっておりますので、ご希望の方はお早めにお申し込みください。</p>
    </div>
  </section>
  <section class="condition">
    <div class="container">
      <h3>キャンペーン適用条件</h3>
      <p>本キャンペーンは以下の条件をすべて満たしている方を対象としています。</p>
      <ul class="condition_list">
        <li>このページ下部のフォームよりお申し込みいただいた方</li>
        <li>過去にRenosyの個別相談を受けられたことがない方</li>
        <li>昨年の個人年収が500万円以上の方<br><span class="note">※源泉徴収票などの証明書類でご確認させていただきます。</span></li>
        <li>キャンペーン期間1月11日(金)〜1月23日(水)に下記いずれかの店舗にご来場いただけた方</li>
      </ul>
      <ul class="company">
        <li><strong>Headquarters（東京本社）</strong><br>〒150-0012<span>東京都渋谷区広尾1-1-39 恵比寿プライムスクエア 8F</span></li>
        <li><strong>Osaka Branch（大阪支社）</strong><br>〒530-0001<span>大阪府大阪市北区梅田2-4-9 ブリーゼタワー 12F</span></li>
        <li><strong>Nagoya Sales Branch（名古屋営業所）</strong><br>〒451-6090<span>愛知県名古屋市西区牛島町6-1 名古屋ルーセントタワー5F</span></li>
      </ul>
      <p class="note">※他のキャンペーンとの併用はできません。</p>
    </div>
  </section>
  <section class="contact" id="contact">
    <div class="container">
      <h3>個別相談申し込み</h3>
      <!--[if lte IE 8]>
        <script charset="utf-8" type="text/javascript" src="https://js.hsforms.net/forms/v2-legacy.js"></script>
        <![endif]-->
        <script charset="utf-8" type="text/javascript" src="https://js.hsforms.net/forms/v2.js"></script>
        <script>
          hbspt.forms.create({
        	portalId: "4337641",
        	formId: "cdab9ffa-096a-4050-a336-c299a4f3b043"
        });
        </script>
    </div>
  </section>
  <section class="fixed sp_only">
    <div class="fixed_area">
      <h3>頭金ゼロ円の不動産投資とは？</h3>
      <div class="button_area">
        <div class="badge"><img src="assets/images/badge.png" alt=""></div>
        <div class="btn"><a href="#contact">無料でエージェントに相談する</a></div>
      </div>
    </div>
  </section>
<footer>
  <div class="container">
    <p>株式会社GA technologies</p>
    <dl>
      <dt>所在地</dt>
      <dd>（東京本社）<br>〒150-0012<br>東京都渋谷区広尾1-1-39<span>恵比寿プライムスクエア8F</span></dd>
      <dt>設立</dt>
      <dd>2013年3月12日</dd>
      <dt>資本金</dt>
      <dd>1億円</dd>
      <dt>免許登録</dt>
      <dd>宅地建物取引業免許　国土交通大臣（1）第9135号<br>
        建設業許可　東京都知事（般－29）第145636号<br>
        一級建築士事務所　東京都知事登録　第61581号<br>
        小規模不動産特定共同事業者（東京都知事(1)第1号）</dd>
      <dt>加盟団体</dt>
      <dd>一般社団法人人工知能学会<br>
        一般社団法人データサイエンティスト協会<br>
        一般社団法人シェアリングエコノミー協会<br>
        一般社団法人日本ブロックチェーン協会<br>
        一般社団法人FinTech協会<br>
        一般社団法人リノベーション協議会<br>
        特定非営利活動法人日本バーチャルリアリティ学会<br>
        IoT推進コンソーシアム<br>
        公益社団法人全日本不動産協会<br>
        公益社団法人不動産保証協会<br>
        一般社団法人日本クラウドファンディング協会</dd>
    </dl>
    <div class="button"><a href="https://www.ga-tech.co.jp/company/outline/" target="_blank">会社概要詳細</a></div>
    <p class="copyright">© 2018 GA technologies inc.</p>
  </div>
</footer>
</html>
