<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <title>新春！特別ご来場キャンペーン | Renosy</title>
  <meta name="description" content="">
  <meta name="generator" content="HubSpot">
  <meta property="og:description" content="">
  <meta property="og:title" content="新春！特別ご来場キャンペーン | Renosy">
  <meta name="format-detection" content="telephone=no">
  <meta data-js-elm="viewport" name="viewport" content="width=device-width, initial-scale=0.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">

  <!--[if IE]>
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <![endif]-->

  <!-- favicon -->
  <link rel="shortcut icon" href="https://landing.renosy.com/hubfs/renew_favicon.ico">
  <link rel="stylesheet" href="assets/css/index.css">
  <link rel="stylesheet" href="assets/css/common.css">
  <link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP" rel="stylesheet">

  <script src="assets/lib/jquery/jquery-3.2.1.min.js"></script>

</head>
<body>
<header class="header">
  <h2 class="logo"><a href="https://www.renosy.com/" target="_blank"></a><img src="assets/images/logo.png" alt=""></h2>
</header>
<body>
  <section class="contact_confirm">
    <div class="container">
      <div class="notice">送信ボタンを押すとお申し込み完了です。</div>
      <h3>個別相談申し込み</h3>
      <form action="" class="e_form confirm_form">
        <div class="item contactCompany">
          <div class="item_header">ご来場店舗</div>
          <div class="item_body">
            Headquarters（東京本社）
          </div>
        </div>
        <div class="item date01">
          <div class="item_header">第１希望日</div>
          <div class="item_body">
            2018年00月00日
          </div>
        </div>
        <div class="item date02">
          <div class="item_header">第２希望日</div>
          <div class="item_body">
            2018年00月00日
          </div>
        </div>
        <div class="item date03">
          <div class="item_header">第３希望日</div>
          <div class="item_body">
            2018年00月00日
          </div>
        </div>
        <div class="item contactName">
          <div class="item_header">お名前</div>
          <div class="item_body">
            山田太郎
          </div>
        </div>
        <div class="item contactPhoneticName">
          <div class="item_header">ふりがな</div>
          <div class="item_body">
            やまだたろう
          </div>
        </div>
        <div class="item contactEmail required">
          <div class="item_header">メールアドレス</div>
          <div class="item_body">
            renosy@ga-tech.co.jp
          </div>
        </div>
        <div class="item contactPhoneNumber">
          <div class="item_header">電話番号</div>
          <div class="item_body">
            09012345678
          </div>
        </div>
        <div class="item id">
          <div class="item_header">お客様ID</div>
          <div class="item_body">XXXXXXX
          </div>
        </div>
        <div class="item free">
          <div class="item_header">お問い合わせ 内容</div>
          <div class="item_body">テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。            </div>
        </div>
        <div class="button_group">
          <div class="back_btn"><a href="/finance_corp/">編集画面に戻る</a></div>
          <div name = "Submit" class="send_btn">
              送信する
          </div>
        </div>

      </form>
    </div>
  </section>
</body>
<footer class="confirm_footer">
  <div class="container">
    <p>株式会社GA technologies</p>
    <dl>
      <dt>所在地</dt>
      <dd>（東京本社）<br>〒150-0012<br>東京都渋谷区広尾1-1-39<br>恵比寿プライムスクエア8F</dd>
      <dt>設立</dt>
      <dd>2013年3月12日</dd>
      <dt>資本金</dt>
      <dd>1億円</dd>
      <dt>免許登録</dt>
      <dd>宅地建物取引業免許　国土交通大臣（1）第9135号<br>
        建設業許可　東京都知事（般－29）第145636号<br>
        一級建築士事務所　東京都知事登録　第61581号<br>
        小規模不動産特定共同事業者（東京都知事(1)第1号）</dd>
      <dt>加盟団体</dt>
      <dd>一般社団法人人工知能学会<br>
        一般社団法人データサイエンティスト協会<br>
        一般社団法人シェアリングエコノミー協会<br>
        一般社団法人日本ブロックチェーン協会<br>
        一般社団法人FinTech協会<br>
        一般社団法人リノベーション協議会<br>
        特定非営利活動法人日本バーチャルリアリティ学会<br>
        IoT推進コンソーシアム<br>
        公益社団法人全日本不動産協会<br>
        公益社団法人不動産保証協会<br>
        一般社団法人日本クラウドファンディング協会</dd>
    </dl>
    <div class="button"><a href="">会社概要詳細</a></div>
    <p class="copyright">© 2018 GA technologies inc.</p>
  </div>
</footer>
</html>
