<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <title>新春！特別ご紹介キャンペーン</title>
  <meta name="description" content="">
  <meta name="generator" content="HubSpot">
  <meta property="og:description" content="">
  <meta property="og:title" content="新春！特別ご紹介キャンペーン">
  <meta name="twitter:description" content="">
  <meta name="twitter:title" content="新春！特別ご紹介キャンペーン">
  <meta name="format-detection" content="telephone=no">
  <meta data-js-elm="viewport" name="viewport" content="width=device-width, initial-scale=0.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">

  <!--[if IE]>
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <![endif]-->

  <!-- favicon -->
  <link rel="shortcut icon" href="https://landing.renosy.com/hubfs/renew_favicon.ico">
  <link rel="stylesheet" href="assets/css/index.css">
  <link rel="stylesheet" href="assets/css/common.css">
  <link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP" rel="stylesheet">

  <script src="assets/lib/jquery/jquery-3.2.1.min.js"></script>

</head>
<body>
<header class="header">
  <h2 class="logo"><a href="https://www.renosy.com/" target="_blank"><img src="assets/images/logo.png" alt=""></a></h2>
</header>
  <div class="main_visual pc_only">
    <div class="container"><img src="assets/images/main_image_pc.png" alt=""></div>
  </div>
  <div class="main_visual sp_only"><img src="assets/images/main_image.png" alt=""></div>
  <section class="info">
    <div class="container">
      <p>この度はご成約をいただきまして誠にありがとうございます。</p>
      <p>ご成約いただきました皆さまに感謝の思いを込めて、期間中にRenosyをお知り合いにご紹介いただくとご紹介者様（あなた様）とご紹介いただいた方にもAmazonギフト券をプレゼントする特別ご紹介キャンペーンをご用意させていただきました。</p>
      <p class="mb12">1月31日(木)までの期間限定のお得なキャンペーンとなりますので、ぜひこの機会にお知り合いをご紹介ください。</p>
      <div class="note">※2018年10月〜2018年12月にご成約いただいた方限定のキャンペーンになります。<br>※キャンペーンには適用条件がございます。ページ下部の注意点をご覧ください。</div>
    </div>
  </section>
  <section class="request">
    <div class="container">
      <h3>キャンペーン概要</h3>
      <div class="request_inner">
        <h4>特典内容</h4>
        <div class="request_inner_box">
          <div class="request_inner_box_content">
            <div class="notice">ご紹介者様<span>（あなた様）</span></div>
            <p>ご紹介いただいた方のご成約で<br><span>Amazonギフト券100,000円分</span>プレゼント</p>
            <p>特典のお渡し方法：直接、または郵送</p>
          </div>
          <div class="request_inner_box_content">
            <div class="notice">ご紹介いただいた方<span>（被ご紹介者様）</span></div>
            <p>個別のご面談で<br><span> Amazonギフト券10,000円分</span>プレゼント</p>
            <p>特典のお渡し方法：個別のご面談当日にその場でお渡し</p>
          </div>
        </div>
        <h4>対象期間</h4>
        <div class="request_inner_box box02">
          <p>2019年1月31日までの<span>ご紹介が有効となります。</span></p>
        </div>
      </div>
    </div>
  </section>
  <section class="condition">
    <div class="container">
      <h3>注意点</h3>
      <p>ご紹介いただける方が下記を満たさない場合は、本キャンペーンの対象にはなりません。あらかじめご了承ください。</p>
      <ul class="condition_list">
        <li>年齢が25歳以上の方</li>
        <li>勤続年数が3年以上の方</li>
        <li>現在正社員、公務員、士業としてお勤めの方</li>
      </ul>
      <p class="mb24">ご紹介いただいた方とのご面談は下記の店舗にて承っております。</p>
      <ul class="company">
        <li><strong>Headquarters（東京本社）</strong><br>〒150-0012<span>東京都渋谷区広尾1-1-39 恵比寿プライムスクエア 8F</span></li>
        <li><strong>Osaka Branch（大阪支社）</strong><br>〒530-0001<span>大阪府大阪市北区梅田2-4-9 ブリーゼタワー 12F</span></li>
        <li><strong>Nagoya Sales Branch（名古屋営業所）</strong><br>〒451-6090<span>愛知県名古屋市西区牛島町6-1 名古屋ルーセントタワー5F</span></li>
      </ul>
    </div>
  </section>
  <section class="contact" id="contact">
    <div class="container">
      <h3>ご紹介キャンペーンお申し込み</h3>
      <!--[if lte IE 8]>
      <script charset="utf-8" type="text/javascript" src="https://js.hsforms.net/forms/v2-legacy.js"></script>
      <![endif]-->
      <script charset="utf-8" type="text/javascript" src="https://js.hsforms.net/forms/v2.js"></script>
      <script>
        hbspt.forms.create({
      	portalId: "4337641",
      	formId: "491468de-7d23-4c2c-83da-3ec77f23d535",
        onFormReady: function($form) {
            jQuery('#label-phone_time-491468de-7d23-4c2c-83da-3ec77f23d535 span:first').val('お電話の繋がりやすい時間帯').replaceWith('<span data-reactid=".hbspt-forms-0.1:$4.0.0">お電話の<span class="pc">繋がりやすい時間帯</span></span>');
            jQuery('#label-my_agent-491468de-7d23-4c2c-83da-3ec77f23d535 span:first').val('担当エージェントの名前').replaceWith('<span data-reactid=".hbspt-forms-0.1:$5.0.0">担当エージェントの<span class="pc">名前</span></span>');
        },
      });

      </script>
    </div>
  </section>
  <section class="fixed sp_only">
    <div class="fixed_area">
      <div class="button_area">
        <div class="badge"><img src="assets/images/badge.png" alt=""></div>
        <div class="btn"><a href="#contact">キャンペーンに申し込む</a></div>
      </div>
    </div>
  </section>
<footer>
  <div class="container">
    <p>株式会社GA technologies</p>
    <dl>
      <dt>所在地</dt>
      <dd>（東京本社）<br>〒150-0012<br>東京都渋谷区広尾1-1-39<span>恵比寿プライムスクエア8F</span></dd>
      <dt>設立</dt>
      <dd>2013年3月12日</dd>
      <dt>資本金</dt>
      <dd>1億円</dd>
      <dt>免許登録</dt>
      <dd>宅地建物取引業免許　国土交通大臣（1）第9135号<br>
        建設業許可　東京都知事（般－29）第145636号<br>
        一級建築士事務所　東京都知事登録　第61581号<br>
        小規模不動産特定共同事業者（東京都知事(1)第1号）</dd>
      <dt>加盟団体</dt>
      <dd>一般社団法人人工知能学会<br>
        一般社団法人データサイエンティスト協会<br>
        一般社団法人シェアリングエコノミー協会<br>
        一般社団法人日本ブロックチェーン協会<br>
        一般社団法人FinTech協会<br>
        一般社団法人リノベーション協議会<br>
        特定非営利活動法人日本バーチャルリアリティ学会<br>
        IoT推進コンソーシアム<br>
        公益社団法人全日本不動産協会<br>
        公益社団法人不動産保証協会<br>
        一般社団法人日本クラウドファンディング協会</dd>
    </dl>
    <div class="button"><a href="https://www.ga-tech.co.jp/company/outline/" target="_blank">会社概要詳細</a></div>
    <p class="copyright">© 2018 GA technologies inc.</p>
  </div>
</footer>
<script>

</script>
</body>
</html>
