@charset "UTF-8";
/* ========================================
    ■ 必須設定
======================================== */
/* reset
----------------------------- */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

html {
  font-size: 62.5%;
  line-height: 1.65;
  overflow-x: hidden; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

th {
  font-weight: normal; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

input, select, textarea, img {
  vertical-align: middle; }

/* Remove the default button styling in all browsers */
button,
input,
select,
textarea {
  background-color: transparent;
  border-style: none;
  color: inherit; }

ul, dl, ol {
  list-style: none; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

:before, :after {
  text-decoration: inherit;
  vertical-align: inherit; }

*, :before, :after {
  background-repeat: no-repeat;
  box-sizing: inherit; }

/* 共通設定
----------------------------- */
* {
  box-sizing: border-box; }

body {
  color: #333;
  font-family: "Hiragino Kaku Gothic ProN", "YuGothic-M", "游ゴシック Medium", YuGothic, "游ゴシック体", Meiryo, メイリオ, sans-serif;
  font-size: 14px;
  font-size: 1.4rem;
  overflow: hidden;
  padding-top: 70px; }

.pc_only {
  display: block; }

.sp_only {
  display: none; }

#header {
  background: #fff;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.15);
  height: 70px;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 10000; }

#header .inner {
  -ms-flex-align: center;
      align-items: center;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -ms-flex-pack: justify;
      justify-content: space-between;
  margin: 0 auto;
  max-width: 1100px;
  padding: 0 15px;
  width: 100%; }

#header .logo_out {
  width: 160px; }

#header .logo_out .logo {
  width: 100%; }

#header .contact {
  -ms-flex-align: center;
      align-items: center;
  display: -ms-flexbox;
  display: flex; }

#header .contact .tel {
  -ms-flex-align: center;
      align-items: center;
  display: -ms-flexbox;
  display: flex; }

#header .contact .tel img {
  width: 210px; }

#header .contact .button {
  text-decoration: none;
  color: #fff;
  background: #4ec692;
  width: 260px;
  height: 45px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  position: relative;
  -ms-flex-pack: center;
      justify-content: center;
  border-radius: 5px;
  box-shadow: 2px 2px 0 0 #009966;
  font-size: 20px;
  font-size: 2rem;
  margin-left: 15px;
  letter-spacing: -1px; }

#header .contact .button span {
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 8px solid #fff;
  margin-left: 10px; }

#sell_point .fixed_button {
  position: fixed;
  bottom: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0 7px 8px 8px rgba(0, 0, 0, 0.15);
  width: 100%;
  z-index: 10; }

#sell_point .fixed_button_inner {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center; }

#sell_point .fixed_button_inner .main_button {
  margin: 10px 0; }

#sell_point .fixed_button_inner .main_button a {
  margin-left: 0; }

#sell_point .fixed_button_inner .badge {
  margin-top: -22px;
  margin-right: -3px;
  z-index: 10; }

#sell_point .fixed_button_inner .badge img {
  width: 50px; }

#sell_point .container {
  max-width: 1160px;
  margin: 0 auto; }

#sell_point .main_title {
  font-size: 36px;
  font-size: 3.6rem;
  text-align: center;
  margin-bottom: 27px;
  font-weight: bold;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  line-height: 43px; }

#sell_point .main_title.title02 {
  line-height: 55px;
  -ms-flex-align: baseline;
      align-items: baseline; }

#sell_point .main_title span {
  margin-left: 5px; }

#sell_point .main_button {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  margin: 70px 0;
  -ms-flex-align: center;
      align-items: center;
  padding-right: 10px; }

#sell_point .main_button a {
  text-decoration: none;
  color: #fff;
  background: #4ec692;
  width: 365px;
  height: 73px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  position: relative;
  -ms-flex-pack: center;
      justify-content: center;
  border-radius: 5px;
  box-shadow: 2px 2px 0 0 #009966;
  font-size: 28px;
  font-size: 2.8rem;
  letter-spacing: -1.5px; }

#sell_point .main_button a span {
  width: 0;
  height: 0;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-left: 10px solid #fff;
  margin-left: 15px; }

#sell_point .main_visual {
  background: url("../images/img_main_visual.jpg") center no-repeat;
  background-size: cover;
  padding: 50px 0;
  margin-bottom: 70px; }

#sell_point .main_visual .container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: end;
      justify-content: flex-end;
  -ms-flex-align: center;
      align-items: center; }

#sell_point .main_visual .img_text {
  text-align: right;
  margin-right: 30px; }

#sell_point .sell_process {
  text-align: center; }

#sell_point .sell_process .note {
  margin: 0 auto;
  max-width: 863px;
  text-align: left;
  margin-top: 55px;
  font-size: 16px;
  font-size: 1.6rem; }

#sell_point .sell_process .note p {
  margin-bottom: 7px; }

#sell_point .sell_process .sell_process_title {
  position: relative;
  font-size: 32px;
  font-size: 3.2rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 70px;
  display: inline-block; }

#sell_point .sell_process .sell_process_title:after {
  content: '';
  height: 8px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 8px;
  background: #58d7ae;
  z-index: -1; }

#sell_point .sell_process .container02 {
  max-width: 943px;
  margin: 0 auto;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center; }

#sell_point .sell_process .step {
  width: 235px;
  height: 246px;
  border: solid 2px #4ec692;
  border-radius: 10px;
  position: relative;
  text-align: center; }

#sell_point .sell_process .step:after {
  position: absolute;
  background: url("../images/icon_arrow.png") no-repeat;
  content: "";
  right: -39%;
  top: calc(50% - 29px);
  height: 58px;
  width: 58px; }

#sell_point .sell_process .step:last-child:after {
  display: none; }

#sell_point .sell_process .step p:first-child {
  color: #5cd696;
  font-size: 34px;
  font-size: 3.4rem;
  font-family: "Source san variable";
  height: 45px;
  border-bottom: dashed 1px #5cd696;
  padding-bottom: 4px;
  line-height: 44px; }

#sell_point .sell_process .step p.title {
  font-size: 26px;
  font-size: 2.6rem;
  font-weight: bold;
  height: 92px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
  line-height: 29px;
  -ms-flex-pack: center;
      justify-content: center; }

#sell_point .sell_process .step .image {
  height: 50px; }

#sell_point .point_list {
  margin-top: 74px; }

#sell_point .point_list .container02 {
  max-width: 943px;
  margin: 0 auto; }

#sell_point .point_list p.note {
  padding: 0 70px;
  margin-top: 20px;
  font-size: 16px;
  font-size: 1.6rem; }

#sell_point .point_list .check {
  padding-left: 70px; }

#sell_point .point_list .check > li {
  line-height: 150%;
  padding: 0.5em 0 0.5em 1.5em;
  position: relative;
  color: #000;
  font-weight: bold;
  font-size: 20px;
  font-size: 2rem; }

#sell_point .point_list .check > li br.sp_only {
  content: ""; }

#sell_point .point_list .check > li span {
  font-weight: normal; }

#sell_point .point_list .check > li p {
  margin-bottom: 10px; }

#sell_point .point_list .check > li:before {
  background-color: #fff;
  border: solid 1px #c8c8c8;
  content: "\e64c";
  color: #00be8b;
  font-size: 75%;
  line-height: 100%;
  font-family: "themify";
  top: 1em;
  box-sizing: border-box;
  display: inline-block;
  text-align: center;
  padding: 0.25em;
  white-space: normal;
  position: absolute;
  left: 0; }

#sell_point .service_block .img_process {
  text-align: center; }

#sell_point .service_block#sumikae {
  margin-bottom: 70px; }

#sell_point .service_block#sumikae .service_block_inner {
  padding-left: 283px;
  padding-right: 283px;
  text-align: center; }

#sell_point .service_block#sumikae .service_block_inner .service_block_text {
  font-size: 22px;
  font-size: 2.2rem;
  font-weight: bold;
  margin-bottom: 20px; }

#sell_point .service_block#sumikae .service_block_inner .service_block_w_390 {
  padding-left: 55px; }

#sell_point .service_block#sumikae .service_block_inner .service_block_w_390 .justify_content_center {
  margin-top: 50px; }

#sell_point .service_block#sumikae .service_block_inner .service_block_w_390 .u_mt-20 {
  margin-bottom: 30px;
  font-size: 20px;
  font-size: 2rem;
  text-align: left; }

#sell_point .service_block#sumikae .service_intro_item .service_block_ttl {
  font-size: 30px;
  font-size: 3rem;
  font-weight: bold;
  border-bottom: dotted 2px #000;
  margin-bottom: 55px;
  line-height: 37px; }

#sell_point .service_block .container .service_img.sp_only {
  text-align: center; }

#sell_point .service_block p.center {
  text-align: center;
  margin: 80px 0 57px;
  font-size: 20px;
  font-size: 2rem; }

#sell_point .service_block p.center.pc_only {
  margin-top: 60px; }

#sell_point .service_block_inner {
  background: #def7ea;
  padding: 54px 60px 45px;
  margin-top: 45px; }

#sell_point .service_block_inner_text {
  text-align: center;
  font-size: 22px;
  font-size: 2.2rem;
  font-weight: bold;
  margin-bottom: 90px; }

#sell_point .service_block_inner_content {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-pack: justify;
      justify-content: space-between; }

#sell_point .service_block_inner_content .service_intro_item {
  -ms-flex: 0 0 49%;
      flex: 0 0 49%; }

#sell_point .service_block_inner_content .service_intro_item .service_block_ttl {
  text-align: center;
  color: #444;
  font-size: 30px;
  font-size: 3rem;
  font-weight: normal;
  margin-bottom: 22px;
  border-bottom: dotted 2px #000;
  font-weight: bold;
  line-height: 37px; }

#sell_point .service_block_inner_content .service_intro_item .img {
  margin-bottom: 20px;
  height: 355px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center; }

#sell_point .service_block_inner_content .service_intro_item .img.img01 img {
  width: 453px;
  height: 272px; }

#sell_point .service_block_inner_content .service_intro_item .service_block_text {
  font-size: 16px;
  font-size: 1.6rem;
  margin-bottom: 10px; }

#sell_point .what_investment {
  padding-top: 74px; }

#sell_point .what_investment .u_wm_1100 {
  margin: auto;
  width: 1100px; }

#sell_point .what_investment .u_wm_1100 .classic_style_sell_e_title {
  font-weight: bold;
  font-size: 30px;
  font-size: 3rem;
  line-height: 26px;
  margin-bottom: 25px;
  color: #333; }

#sell_point .what_investment .u_wm_1100 .classic_style_sell_e_title span {
  background-image: linear-gradient(to right, #86d462, #99e9c7);
  background-position: left 0 bottom 15%;
  background-size: 100% 25%;
  background-repeat: no-repeat;
  font-size: 20px;
  font-size: 2rem;
  font-weight: bold; }

#sell_point .what_investment .u_wm_1100 .classic_style_sell_e_title span:before, #sell_point .what_investment .u_wm_1100 .classic_style_sell_e_title span:after {
  content: "\00a0"; }

#sell_point .what_investment .u_wm_1100 .u_text_center {
  text-align: center; }

#sell_point .what_investment .l_contact {
  padding-bottom: 50px;
  padding-top: 30px; }

#sell_point .what_investment .l_contact .new_form table {
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%; }

#sell_point .what_investment .l_contact .new_form table tr.is_require th {
  position: relative; }

#sell_point .what_investment .l_contact .new_form table tr.is_require th:after {
  -ms-flex-align: center;
      align-items: center;
  background: #d53535;
  border-radius: 2px;
  content: '必須';
  color: #fff;
  display: -ms-flexbox;
  display: flex;
  font-size: 12px;
  font-size: 1.2rem;
  font-weight: normal;
  height: 18px;
  -ms-flex-pack: center;
      justify-content: center;
  position: absolute;
  right: 20px;
  top: 20px;
  width: 34px; }

#sell_point .what_investment .l_contact .new_form table tr.is_require td input:not([type=radio]):not([type=checkbox]),
#sell_point .what_investment .l_contact .new_form table tr.is_require td textarea,
#sell_point .what_investment .l_contact .new_form table tr.is_require td select {
  background: #fff6db; }

#sell_point .what_investment .l_contact .new_form table tr th {
  background: #f2f4f5;
  font-weight: normal;
  line-height: 1;
  padding: 22px 20px;
  text-align: left;
  vertical-align: top;
  width: 310px;
  border: 1px solid #ccc;
  /* IE9, IE10 */ }

#sell_point .what_investment .l_contact .new_form table tr td {
  padding: 14px 30px;
  width: 100%;
  border: 1px solid #ccc; }

#sell_point .what_investment .l_contact .new_form table tr td .is_live_there {
  margin: 10px 0px; }

#sell_point .what_investment .l_contact .new_form table tr td input[type=radio]:checked {
  border: 0.28em solid #1ab47c; }

#sell_point .what_investment .l_contact .new_form table tr td input[type=radio],
#sell_point .what_investment .l_contact .new_form table tr td input[type=checkbox] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 14px;
  height: 14px;
  margin-right: .3em;
  border: 1px solid #d4d5d6;
  background: #fff;
  border-radius: 50%; }

#sell_point .what_investment .l_contact .new_form table tr td input:not([type=radio]):not([type=checkbox]).is_fill,
#sell_point .what_investment .l_contact .new_form table tr td textarea.is_fill,
#sell_point .what_investment .l_contact .new_form table tr td select.is_fill {
  width: 100%; }

#sell_point .what_investment .l_contact .new_form table tr td input:not([type=radio]):not([type=checkbox]),
#sell_point .what_investment .l_contact .new_form table tr td textarea,
#sell_point .what_investment .l_contact .new_form table tr td select {
  background: #edeff0;
  border: none;
  border-radius: 2px;
  box-shadow: 0 1px 5px 0 #d4d5d6 inset;
  height: 30px;
  padding: 0 10px;
  width: 200px;
  transition: background-color 10000000000s, color 10000000000s; }

#sell_point .what_investment .l_contact .new_form table tr td .icon-tel {
  font-weight: bold; }

#sell_point .what_investment .l_contact .new_form table tr td.phone {
  text-align: center;
  font-size: 28px;
  line-height: 24px;
  font-weight: bold;
  letter-spacing: 1px;
  font-family: "Heebo"; }

#sell_point .what_investment .l_contact .new_form table tr td.phone .sp_only {
  display: none; }

#sell_point .what_investment .l_contact .new_form table tr td.phone .phone_note {
  font-family: "Hiragino Kaku Gothic Pro";
  font-size: 12px;
  font-size: 1.2rem;
  font-weight: 100;
  margin: 0px 0px 0px 35px;
  letter-spacing: 0px; }

#sell_point .what_investment .l_contact .mgt-60 {
  margin-top: 60px; }

#sell_point .what_investment .l_contact .mgt-60 .common_header_2 h2 {
  margin-top: 0px; }

#sell_point .what_investment .l_contact .mgt-60 .common_header_2 h2:before {
  background: linear-gradient(to top, #4ec692, #86d462);
  content: '';
  height: 100%;
  margin-right: 10px;
  width: 4px; }

#sell_point .what_investment .l_contact .mgt-60 .common_header_2_flow {
  float: right;
  margin-top: -5px;
  display: -ms-flexbox;
  display: flex;
  border-radius: 6px;
  height: 28px;
  overflow: hidden;
  width: 370px; }

#sell_point .what_investment .l_contact .mgt-60 .common_header_2_flow li {
  background: #edeff0;
  margin-right: 5px;
  -ms-flex-align: center;
      align-items: center;
  color: #adb1b2;
  display: -ms-flexbox;
  display: flex;
  font-weight: bold;
  -ms-flex-pack: center;
      justify-content: center;
  position: relative;
  width: calc(100% / 3); }

#sell_point .what_investment .l_contact .mgt-60 .common_header_2_flow li span {
  -ms-flex-align: center;
      align-items: center;
  background: #adb1b2;
  border-radius: 50%;
  color: #fff;
  display: -ms-flexbox;
  display: flex;
  font-size: 12px;
  font-size: 1.2rem;
  height: 14px;
  -ms-flex-pack: center;
      justify-content: center;
  margin-right: 6px;
  width: 14px; }

#sell_point .what_investment .l_contact .mgt-60 .common_header_2_flow li:after {
  border-top: 28px solid transparent;
  border-left: 20px solid #edeff0;
  border-bottom: 28px solid transparent;
  content: '';
  display: inline-block;
  height: 56px;
  position: absolute;
  top: -14px;
  right: -12px; }

#sell_point .what_investment .l_contact .mgt-60 .common_header_2_flow li:nth-child(2):before, #sell_point .what_investment .l_contact .mgt-60 .common_header_2_flow li:nth-child(3):before {
  border-top: 28px solid transparent;
  border-left: 20px solid #fff;
  border-bottom: 28px solid transparent;
  content: '';
  display: inline-block;
  height: 56px;
  position: absolute;
  top: -14px;
  left: -11px; }

#sell_point .what_investment .l_contact .mgt-60 .common_header_2_flow li:nth-child(1) {
  z-index: 5; }

#sell_point .what_investment .l_contact .mgt-60 .common_header_2_flow li:nth-child(2) {
  z-index: 4; }

#sell_point .what_investment .l_contact .mgt-60 .common_header_2_flow li:nth-child(3) {
  z-index: 3;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  margin-right: 0; }

#sell_point .what_investment .l_contact .mgt-60 .common_header_2_flow li:nth-child(3):after {
  border-left: none; }

#sell_point .what_investment .l_contact .mgt-60 .common_header_2_flow li.is_active {
  background: #1ab47c !important;
  color: #fff; }

#sell_point .what_investment .l_contact .mgt-60 .common_header_2_flow li.is_active span {
  background: #fff;
  color: #1ab47c !important; }

#sell_point .what_investment .l_contact .mgt-60 .common_header_2_flow li.is_active:after {
  border-left-color: #1ab47c !important; }

#sell_point .what_investment .l_contact h2 {
  -ms-flex-align: center;
      align-items: center;
  display: -ms-flexbox;
  display: flex;
  font-size: 16px;
  font-size: 1.6rem;
  height: 20px;
  margin-bottom: 15px;
  margin-top: 30px; }

#sell_point .what_investment .l_contact h2:before {
  background: linear-gradient(to top, #4ec692, #86d462);
  content: '';
  height: 100%;
  margin-right: 10px;
  width: 4px; }

#sell_point .what_investment .l_contact .u_wm_900 {
  margin: auto;
  width: 900px; }

#sell_point .what_investment .l_contact .new_footer {
  margin-top: 35px; }

#sell_point .what_investment .l_contact .new_footer_text {
  text-align: center; }

#sell_point .what_investment .l_contact .new_footer_text .u_link {
  color: #4ec692;
  text-decoration: underline; }

#sell_point .what_investment .l_contact .new_footer_btn {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  margin-top: 35px; }

#sell_point .what_investment .l_contact .new_footer_btn .e_btn.is_contact.is_rich {
  padding-bottom: 3px; }

#sell_point .what_investment .l_contact .new_footer_btn .e_btn.is_contact.is_rich button {
  font-size: 20px;
  font-size: 2rem;
  height: 65px;
  width: 420px;
  border-radius: 5px;
  box-shadow: 0 3px 0 0 #bc6416;
  background: #e57c20;
  color: #fff;
  border: 1px solid #e57c20; }

#sell_point #about {
  padding-bottom: 10px; }

#sell_point #about .e_title_about {
  color: #000;
  font-size: 28px;
  font-size: 2.8rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 32px;
  margin-top: 60px; }

#sell_point #about .wrap {
  -ms-flex-align: center;
      align-items: center;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: center;
      justify-content: center; }

#sell_point #about .wrap .main-inner {
  width: 600px; }

#sell_point #about .wrap .main-inner .about-info {
  width: 100%;
  border-top: solid 1px #eee;
  padding: 15px 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between; }

#sell_point #about .wrap .main-inner .about-info a {
  display: inline-block;
  line-height: 1.6875em;
  letter-spacing: .1em;
  color: #999;
  position: relative; }

#sell_point #about .wrap .main-inner .about-info .map-box {
  margin: 30px 0 0; }

#sell_point #about .wrap .main-inner .about-info .map-box:first-child {
  margin: 0; }

#sell_point #about .wrap .main-inner .about-info:first-child {
  border-top: none; }

#sell_point #about .wrap .main-inner .about-info:nth-child(odd) {
  background: #fafafa; }

#sell_point #about .wrap .main-inner .about-info .about-info-table {
  display: -ms-flexbox;
  display: flex; }

#sell_point #about .wrap .main-inner .about-info .about-info-table dt {
  -ms-flex-preferred-size: 215px;
  flex-basis: 215px;
  line-height: 1.6875em;
  letter-spacing: .1em; }

#sell_point #about .wrap .main-inner .about-info .about-info-table dd {
  line-height: 1.6875em;
  letter-spacing: .1em; }

#sell_point #about .wrap .main-inner .about-info .about-post {
  margin: 20px 0 10px; }

#sell_point #about .wrap .main-inner .about-info .about-post:first-child {
  margin: 0 0 10px; }

#sell_point #about .wrap .main-inner .about-info .about-post.fw-b {
  font-weight: 700; }

#sell_point #about .wrap .main-inner .about-info > dt {
  -ms-flex-preferred-size: 23%;
  flex-basis: 23%;
  line-height: 1.6875em;
  text-align: right;
  font-weight: bold; }

#sell_point #about .wrap .main-inner .about-info > dd {
  -ms-flex-preferred-size: 74.33333%;
  flex-basis: 73%;
  color: #333; }

#sell_point #about .wrap .image {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: justify;
      justify-content: space-between;
  margin-top: 30px;
  width: 720px; }

#sell_point #about .wrap .image figure {
  width: 100%; }

#sell_point #about .wrap .image figure:nth-of-type(n+2) {
  margin-top: 20px;
  width: calc(50% - 10px); }

#sell_point #about .wrap .image figure img {
  width: 100%; }

#sell_point #about .wrap .image figure iframe {
  border: none;
  height: 360px;
  width: 100%; }

#footer {
  -ms-flex-align: center;
      align-items: center;
  display: -ms-flexbox;
  display: flex;
  height: 80px;
  -ms-flex-pack: center;
      justify-content: center;
  max-width: 1200px;
  margin: 0 auto; }

#footer p {
  color: #000;
  font-family: "YuGothic", serif;
  font-size: 12px;
  font-size: 1.2rem; }

#main_top h1 {
  padding-top: 60px;
  color: #73c138;
  text-align: center;
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 1.4; }

#main_top p {
  color: #333;
  text-align: center;
  font-size: 16px;
  font-size: 1.6rem;
  margin-top: 30px; }

#main #about {
  min-width: 1200px;
  width: 100%;
  padding-bottom: 0;
  padding-top: 30px; }

#main #about .e_title_about {
  color: #fdab2a;
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 50px; }

#main #about .wrap {
  -ms-flex-align: center;
      align-items: center;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: center;
      justify-content: center; }

#main #about .wrap .main-inner {
  width: 600px; }

#main #about .wrap .main-inner .about-info {
  width: 100%;
  border-top: solid 1px #eee;
  padding: 15px 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between; }

#main #about .wrap .main-inner .about-info a {
  display: inline-block;
  line-height: 1.6875em;
  letter-spacing: .1em;
  color: #999;
  position: relative; }

#main #about .wrap .main-inner .about-info .map-box {
  margin: 30px 0 0; }

#main #about .wrap .main-inner .about-info .map-box:first-child {
  margin: 0; }

#main #about .wrap .main-inner .about-info:first-child {
  border-top: none; }

#main #about .wrap .main-inner .about-info:nth-child(odd) {
  background: #fafafa; }

#main #about .wrap .main-inner .about-info .about-info-table {
  display: -ms-flexbox;
  display: flex; }

#main #about .wrap .main-inner .about-info .about-info-table dt {
  -ms-flex-preferred-size: 215px;
  flex-basis: 215px;
  line-height: 1.6875em;
  letter-spacing: .1em; }

#main #about .wrap .main-inner .about-info .about-info-table dd {
  line-height: 1.6875em;
  letter-spacing: .1em; }

#main #about .wrap .main-inner .about-info .about-post {
  margin: 20px 0 10px; }

#main #about .wrap .main-inner .about-info .about-post:first-child {
  margin: 0 0 10px; }

#main #about .wrap .main-inner .about-info .about-post.fw-b {
  font-weight: 700; }

#main #about .wrap .main-inner .about-info > dt {
  -ms-flex-preferred-size: 23%;
  flex-basis: 23%;
  line-height: 1.6875em;
  text-align: right;
  font-weight: bold; }

#main #about .wrap .main-inner .about-info > dd {
  -ms-flex-preferred-size: 74.33333%;
  flex-basis: 73%;
  color: #333; }

#main #about .wrap .image {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: justify;
      justify-content: space-between;
  margin-top: 40px;
  width: 720px; }

#main #about .wrap .image figure {
  width: 100%; }

#main #about .wrap .image figure:nth-of-type(n+2) {
  margin-top: 20px;
  width: calc(50% - 10px); }

#main #about .wrap .image figure iframe {
  border: none;
  height: 360px;
  width: 100%; }

#main #about .wrap .image figure img {
  width: 100%; }

.hbspt-form .legal-consent-container {
  margin-top: 35px;
  text-align: center; }

.hbspt-form .legal-consent-container a {
  color: #4ec692; }

.hbspt-form .hs_submit {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  margin-top: 35px; }

.hbspt-form .hs_submit input[type=submit] {
  font-size: 20px;
  font-size: 2rem;
  height: 65px;
  width: 420px;
  border-radius: 5px;
  box-shadow: 0 3px 0 0 #bc6416;
  background: #e57c20;
  color: #fff;
  border: 1px solid #e57c20;
  -webkit-appearance: none; }

.hbspt-form .hs_error_rollup {
  display: none; }

.hbspt-form .hs-form-field {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-align: center;
      align-items: center;
  border: solid 1px #ccc;
  border-bottom: none;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 0; }

.hbspt-form .hs-form-field.hs_contact_phonetic_name > label {
  position: relative; }

.hbspt-form .hs-form-field.hs_contact_phonetic_name > label:after {
  content: '任意';
  position: absolute;
  right: 20px;
  top: 17px;
  width: 38px;
  height: 21px;
  background: #999;
  text-align: center;
  padding-top: 4px;
  color: #fff;
  border-radius: 2px;
  font-size: 12px;
  font-size: 1.2rem; }

.hbspt-form .hs-form-field.hs_form_send_id, .hbspt-form .hs-form-field.hs_inquiry_url {
  display: none; }

.hbspt-form .hs-form-field.hs_is_there_live {
  border-bottom: solid 1px #ccc; }

.hbspt-form .hs-form-field.hs_is_there_live ul.inputs-list.multi-container {
  background: #fff6db;
  padding: 0 10px;
  width: 315px;
  height: 30px;
  box-shadow: 0 1px 5px 0 #d4d5d6 inset;
  border-radius: 2px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center; }

.hbspt-form .hs-form-field > label {
  background: #f2f4f5;
  font-weight: normal;
  line-height: 1;
  padding: 22px 20px;
  text-align: left;
  -ms-flex: 0 0 310px;
      flex: 0 0 310px;
  border-right: solid 1px #ccc;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
  margin-bottom: 0; }

.hbspt-form .hs-form-field .input {
  -ms-flex: auto;
      flex: auto;
  padding: 12px 30px; }

.hbspt-form .hs-form-field .input input:not([type=radio]):not([type=checkbox]),
.hbspt-form .hs-form-field .input textarea,
.hbspt-form .hs-form-field .input select {
  background: #edeff0;
  border: none;
  border-radius: 2px;
  box-shadow: 0 1px 5px 0 #d4d5d6 inset;
  height: 30px;
  padding: 0 10px;
  width: 315px;
  transition: background-color 10000000000s, color 10000000000s; }

.hbspt-form .hs-form-field .input input:required {
  background: #fff6db !important; }

.hbspt-form .hs-form-field .input input[type=radio] {
  margin-top: 0; }

.hbspt-form .hs-form-field .input input#email-f73f707b-ce11-40c4-8cdc-fd4a0bed1450, .hbspt-form .hs-form-field .input input#building_address-f73f707b-ce11-40c4-8cdc-fd4a0bed1450 {
  width: 100%; }

.hbspt-form .hs-form-field .input .inputs-list li {
  display: inline-block;
  margin-right: 50px;
  width: auto; }

.hbspt-form .hs-form-field .hs-error-msgs {
  width: 100%;
  padding-left: 340px;
  position: relative;
  color: red;
  padding-bottom: 10px;
  margin-bottom: 0;
  /* IE9, IE10 */ }

.hbspt-form .hs-form-field .hs-error-msgs:before {
  position: absolute;
  content: "";
  background: #f2f4f5;
  width: 310px;
  height: 100%;
  left: 0;
  border-right: solid 1px #ccc;
  /* IE9, IE10 */ }

.hbspt-form .hs-form-field .hs-form-required {
  position: relative;
  -ms-flex-align: center;
      align-items: center;
  background: #d53535;
  border-radius: 2px;
  color: #fff;
  display: -ms-flexbox;
  display: flex;
  font-size: 12px;
  font-size: 12px;
  font-size: 1.2rem;
  font-weight: normal;
  -ms-flex-pack: center;
      justify-content: center;
  width: 38px;
  text-align: center;
  padding: 5px 0 0;
  line-height: 1; }

.hbspt-form .hs-form-field .hs-form-required:after {
  content: '必須';
  position: absolute;
  left: 0;
  top: 4px;
  width: 100%;
  height: 100%;
  background: #d53535;
  border-radius: 2px; }

@media screen and (max-width: 943px){
  body{
    padding-top: 33px; }
  .pc_only{
    display: none !important; }
  .sp_only{
    display: block !important; }
  #header{
    height: 40px; }
  #header .logo_out{
    width: 120px; }
  #header .contact .tel img{
    width: 170px; }
  #sell_point .container{
    width: 100%; }
  #sell_point .main_title img{
    width: 22px;
    height: 22px; }
  #sell_point .main_title{
    font-size: 2rem;
    margin-top: 20px;
    margin-bottom: 10px;
    -ms-flex-align: center;
        align-items: center; }
  #sell_point .main_title.title02 img{
    width: 23px;
    height: 26px; }
  #sell_point .main_button{
    margin: 20px 0; }
  #sell_point .main_button a{
    font-size: 1.2rem;
    width: 175px;
    height: 33px;
    letter-spacing: 0; }
  #sell_point .main_button a span{
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-left: 6px solid #fff;
    margin-left: 10px; }
  #sell_point .main_visual{
    background: url("../images/img_main_visual_sp.jpg") center no-repeat;
    margin-bottom: 10px;
    background-size: 100%; }
  #sell_point .main_visual .img_text{
    width: 197px; }
  #sell_point .sell_process{
    margin-bottom: 0; }
  #sell_point .sell_process .note{
    width: 100%;
    padding: 0 17px;
    margin-top: 10px;
    margin-bottom: 27px; }
  #sell_point .sell_process .sell_process_title{
    font-size: 1.6rem;
    margin-bottom: 20px; }
  #sell_point .sell_process .sell_process_title:after{
    height: 4px;
    bottom: 4px; }
  #sell_point .sell_process .container02{
    width: 100%;
    padding: 0 17px; }
  #sell_point .sell_process .step{
    width: 30%;
    height: auto; }
  #sell_point .sell_process .step:after{
    width: 22px;
    height: 22px;
    right: -14px;
    background-size: 100%;
    top: calc(50% - 11px); }
  #sell_point .sell_process .step p:first-child{
    font-size: 1.4rem;
    line-height: 23px;
    height: 22px; }
  #sell_point .sell_process .step p:first-child img{
    width: 32px; }
  #sell_point .sell_process .step p.title{
    height: 70px;
    font-size: 1.3rem;
    line-height: 20px; }
  #sell_point .sell_process .step img.img01{
    width: 33px; }
  #sell_point .sell_process .step img.img02{
    width: 60px; }
  #sell_point .sell_process .step img.img03{
    width: 58px; }
  #sell_point .point_list .container02{
    width: 100%;
    padding: 0 17px; }
  #sell_point .point_list p.note{
    font-size: 1.2rem;
    padding: 0 20px;
    margin-top: 0; }
  #sell_point .point_list .check{
    padding-left: 20px;
    padding-right: 20px; }
  #sell_point .point_list .check > li{
    font-size: 1.2rem; }
  #sell_point .service_block .main_button{
    margin: 30px 0 0; }
  #sell_point .service_block{
    padding: 0 17px;
    margin-top: 37px; }
  #sell_point .service_block#sumikae{
    margin-bottom: 25px;
    margin-top: 0; }
  #sell_point .service_block#sumikae .service_block_inner{
    padding-left: 20px;
    padding-right: 20px; }
  #sell_point .service_block#sumikae .service_block_inner .service_block_text{
    font-size: 1.4rem; }
  #sell_point .service_block#sumikae .service_block_inner .service_block_w_390{
    font-size: 1.4rem;
    padding-left: 0; }
  #sell_point .service_block#sumikae .service_block_inner .service_block_w_390 .u_mt-20{
    font-size: 1.4rem; }
  #sell_point .service_block#sumikae .service_intro_item .service_block_ttl{
    font-size: 1.6rem;
    border-bottom: dotted 1px #000;
    line-height: 22px; }
  #sell_point .service_block p.center{
    font-size: 1.4rem;
    margin: 10px 0; }
  #sell_point .service_block p.left{
    font-size: 1.4rem;
    text-align: left;
    margin: 10px 20px; }
  #sell_point .service_block_inner{
    padding: 15px;
    margin-top: 0; }
  #sell_point .service_block_inner_text{
    font-size: 1.4rem;
    margin-bottom: 0;
    text-align: left; }
  #sell_point .service_block_inner_content{
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-pack: center;
        justify-content: center; }
  #sell_point .service_block_inner_content .service_intro_item{
    margin-top: 20px;
    -ms-flex: auto;
        flex: auto; }
  #sell_point .service_block_inner_content .service_intro_item .service_block_ttl{
    font-size: 1.6rem;
    border-bottom: dotted 1px #000;
    line-height: 22px; }
  #sell_point .service_block_inner_content .service_intro_item .service_block_text{
    font-size: 1.4rem; }
  #sell_point .service_block_inner_content .service_intro_item .service_block_text01{
    font-size: 1.2rem; }
  #sell_point .what_investment .u_wm_1100{
    width: 100%; }
  #sell_point .what_investment .l_contact{
    padding-top: 0; }
  #sell_point .what_investment .l_contact .new_form table tr.is_require td{
    position: relative; }
  #sell_point .what_investment .l_contact .new_form table tr.is_require td:after{
    -ms-flex-align: center;
        align-items: center;
    background: #d53535;
    border-radius: 2px;
    content: '必須';
    color: #fff;
    display: -ms-flexbox;
    display: flex;
    font-size: 1.2rem;
    font-weight: normal;
    height: 17px;
    -ms-flex-pack: center;
        justify-content: center;
    position: absolute;
    right: 15px;
    top: 13.5px;
    width: 32px; }
  #sell_point .what_investment .l_contact .new_form table tr th{
    display: block;
    width: 100%;
    padding: 15px;
    border-bottom: none; }
  #sell_point .what_investment .l_contact .new_form table tr td{
    display: block;
    width: 100%;
    border-top: none; }
  #sell_point .what_investment .l_contact .new_form table tr td .form_notes{
    display: none; }
  #sell_point .what_investment .l_contact .new_form table tr td.phone{
    padding-top: 20px;
    font-size: 18px;
    letter-spacing: 0; }
  #sell_point .what_investment .l_contact .new_form table tr td.phone .contact_agent_content{
    margin: 0 auto; }
  #sell_point .what_investment .l_contact .new_form table tr td.phone .contact_agent_content .icon-phone{
    float: left;
    margin-top: 9px; }
  #sell_point .what_investment .l_contact .new_form table tr td.phone .contact_agent_content .icon-phone #call_button{
    background: #1ab47c;
    border: 1px solid #1ab47c;
    border-radius: 5px;
    box-shadow: 0 3px 0 0 #14875d;
    padding: 10px;
    color: #fff;
    text-decoration: none; }
  #sell_point .what_investment .l_contact .new_form table tr td.phone .contact_agent_content .icon-phone #call_button .icon-tel{
    font-weight: normal; }
  #sell_point .what_investment .l_contact .new_form table tr td.phone .sp_only{
    display: block; }
  #sell_point .what_investment .l_contact .new_form table tr td.phone .pc{
    display: none; }
  #sell_point .what_investment .l_contact .new_contact .new_form table tr th{
    display: none; }
  #sell_point .what_investment .l_contact .new_contact .new_form table tr td{
    border: none;
    padding: 0; }
  #sell_point .what_investment .l_contact .new_contact .new_form table tr td input:not([type=radio]):not([type=checkbox]),
  #sell_point .what_investment .l_contact .new_contact .new_form table tr td textarea,
  #sell_point .what_investment .l_contact .new_contact .new_form table tr td select{
    width: 100%;
    border-radius: 5px;
    height: 44px;
    margin-bottom: 15px; }
  #sell_point .what_investment .l_contact .mgt-60 .common_header_2_flow{
    width: 100%;
    margin-bottom: 15px; }
  #sell_point .what_investment .l_contact .u_wm_900{
    width: 100%;
    padding: 0 30px; }
  #sell_point .what_investment .l_contact .new_footer_btn .e_btn.is_contact.is_rich button{
    width: 300px; }
  #sell_point #about .wrap .image{
    width: 100%; }
  #footer{
    width: 100%; }
  .hbspt-form .legal-consent-container{
    margin-top: 20px; }
  .hbspt-form .hs_submit .actions{
    -ms-flex: 0 0 260px;
        flex: 0 0 260px;
    padding: 0 !important; }
  .hbspt-form .hs_submit input[type=submit]{
    width: 100%; }
  .hbspt-form .hs-form-field.hs_contact_phonetic_name > label:after{
    display: none; }
  .hbspt-form .hs-form-field{
    border: none;
    margin-bottom: 15px; }
  .hbspt-form .hs-form-field.hs_is_there_live ul.inputs-list.multi-container{
    background: none;
    padding: 0;
    width: auto;
    height: auto;
    box-shadow: none;
    border-radius: 0; }
  .hbspt-form .hs-form-field.hs_is_there_live{
    border: none;
    position: relative; }
  .hbspt-form .hs-form-field.hs_is_there_live .input{
    padding: 8px;
    background: #fff6db;
    box-shadow: 0 1px 5px 0 #d4d5d6 inset; }
  .hbspt-form .hs-form-field.hs_is_there_live .hs-form-required{
    position: absolute;
    right: 14px;
    top: -4px;
    padding: 2px 0;
    width: 32px; }
  .hbspt-form .hs-form-field.hs_is_there_live .hs-form-required:after{
    top: 2px; }
  .hbspt-form .hs-form-field.hs_is_there_live > label{
    display: block;
    background: none;
    border: none;
    padding: 0; }
  .hbspt-form .hs-form-field > label{
    margin-bottom: 10px;
    background: #fff;
    padding: 0;
    border: none; }
  .hbspt-form .hs-form-field.hs_contact_phonetic_name .input:after{
    background: #999;
    content: '任意'; }
  .hbspt-form .hs-form-field .input{
    width: 100%;
    padding: 0;
    position: relative; }
  .hbspt-form .hs-form-field .input:after{
    -ms-flex-align: center;
        align-items: center;
    background: #d53535;
    border-radius: 2px;
    content: '必須';
    color: #fff;
    display: -ms-flexbox;
    display: flex;
    font-size: 1.2rem;
    font-weight: normal;
    height: 17px;
    -ms-flex-pack: center;
    justify-content: center;
    position: absolute;
    right: 15px;
    top: 11.5px;
    width: 32px; }
  .hbspt-form .hs-form-field .input input:not([type=radio]):not([type=checkbox]),
  .hbspt-form .hs-form-field .input textarea,
  .hbspt-form .hs-form-field .input select{
    width: 100%;
    height: 40px;
    padding-right: 60px;
    overflow: scroll;
    max-width: 100% !important; }
  .hbspt-form .hs-form-field .hs-error-msgs{
    padding-left: 0;
    padding-bottom: 0; }
  .hbspt-form .hs-form-field .hs-error-msgs:before{
    display: none; }
  .hbspt-form .hs-form-field .hs-form-required{
    display: none; } }

@media screen and (min-width: 943px) and (max-width: 320px){
  #sell_point .main_title{
    font-size: 1.5rem; } }

@media screen and (max-width: 1100px){
  #sell_point .service_block .img_process img{
    width: 100%; } }

@media screen and (max-width: 375px){
  #sell_point .service_block#sumikae .service_intro_item .img img{
    width: 100% !important; } }

@media screen and (max-width: 943px) and (min-width: 375px){
  #sell_point .service_block#sumikae .service_intro_item .img img{
    width: 264px; } }

@media screen and (max-width: 943px) and (min-width: 400px){
  #sell_point .service_block .container .service_img.sp_only img{
    width: 338px; } }

@media screen and (max-width: 400px){
  #sell_point .service_block .container .service_img.sp_only img{
    width: 100%; } }

@media screen and (max-width: 550px){
  #sell_point .service_block_inner_content .service_intro_item .img{
    height: auto; }
  #sell_point .service_block_inner_content .service_intro_item .img img{
    width: 100% !important;
    height: auto !important; } }

@media screen and (min-width: 0\0){
  #sell_point .what_investment .l_contact .new_form table tr th{
    width: 351px; }
  .hbspt-form .hs-form-field .hs-error-msgs{
    padding-left: 383px; }
  .hbspt-form .hs-form-field .hs-error-msgs:before{
    width: 351px; } }

@media only screen and (max-width: 943px){
  #sell_point #about{
    padding-left: 15px;
    padding-right: 15px; }
  #sell_point #about .e_title_about{
    margin-top: 20px;
    margin-bottom: 15px; } }

@media screen and (max-width: 768px){
  #sell_point #about .wrap .main-inner{
    width: 100%; }
  #sell_point #about .wrap .main-inner .about-info{
    display: block;
    padding: 15px; }
  #sell_point #about .wrap .main-inner .about-info > dt{
    width: 100%;
    text-align: left; }
  #sell_point #about .wrap .main-inner .about-info > dd{
    width: 100%; }
  #main #about{
    padding-bottom: 40px;
    padding-top: 30px;
    min-width: 100%;
    padding-left: 15px;
    padding-right: 15px; }
  #main #about .wrap{
    display: block; }
  #main #about .wrap .main-inner{
    width: 100%; }
  #main #about .wrap .main-inner .about-info{
    display: block; }
  #main #about .wrap .main-inner .about-info > dt{
    width: 100%;
    text-align: left; }
  #main #about .wrap .main-inner .about-info > dd{
    width: 100%; }
  #main #about .wrap .image{
    width: 100%; }
  #main #about .wrap .image figure:nth-of-type(n+2){
    margin-top: 10px;
    width: calc(50% - 5px); }
  #main #about .wrap .image figure iframe{
    height: 350px; } }
