@charset "UTF-8";
/* ========================================
    ■ 必須設定
======================================== */
/* reset
----------------------------- */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
html {
  font-size: 62.5%;
  line-height: 1.65;
  overflow-x: hidden;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

th {
  font-weight: normal;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

input, select, textarea, img {
  vertical-align: middle;
}
/* Remove the default button styling in all browsers */
button,
input,
select,
textarea {
  background-color: transparent;
  border-style: none;
  color: inherit;
}

ul, dl, ol {
  list-style: none;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

::before, ::after {
    text-decoration: inherit;
    vertical-align: inherit;
}

*, ::before, ::after {
    background-repeat: no-repeat;
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}
/* 共通設定
----------------------------- */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,table,tr,th,td { margin: 0; padding: 0; }
table { border-collapse: collapse; border-spacing: 0; border: none; }
fieldset,img { border: 0; }
address,caption,cite,code,dfn,em,strong,th,var,optgroup { font-style: normal; font-weight: normal; }
del,ins { text-decoration: none; }
li { list-style: none; }
caption,th { text-align: left; }
h1,h2,h3,h4,h5,h6 { font-size: 100%; font-weight: normal; line-height: 1.0; }
q:before,q:after { content: ''; }
abbr,acronym { border: 0; font-variant: normal; }
abbr { cursor: help; }
label { cursor: pointer; }
sup { vertical-align: baseline; }
sub { vertical-align: baseline; }
/*because legend doesn't inherit in IE */
legend { color: #000; }
input,button,textarea,select,optgroup,option { font-family: inherit; font-size: inherit; font-style: inherit; font-weight: inherit; }
/*@purpose To enable resizing for IE */
/*@branch For IE6-Win, IE7-Win */
input,button,textarea,select { *font-size: 100%; }

/* Setting
------------------------------------------------------------------------*/

strong { font-weight: bold; }
em { font-style: italic; }

th,td {
	border: 1px solid #999;
	padding: .5em;
}
th {
	font-weight: bold;
	text-align: center;
}
caption {
	padding-bottom: .5em;
	text-align: right;
}

dfn { font-style: normal; }
address {
	font-style: normal;
	line-height: 1.0;
}

.clear { clear: both; }
.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
.clearfix { display: inline-block; }
/* Hides from IE-mac \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* End hide from IE-mac */

.left { text-align: left; }
.center { text-align: center; }
.right { text-align: right; }

body {
  color: #333;
  font-family: "YuGothic-M", "游ゴシック Medium", YuGothic, "游ゴシック体", Meiryo, メイリオ, sans-serif;
  font-size: 1.4rem;
  overflow: hidden;
  text-align: left;
}
.pc_only {
  display: block;
  @media screen and (max-width: 768px) {
    display: none !important;
  }
}

.sp_only {
  display: none;
  @media screen and (max-width: 768px) {
    display: block !important;
  }
}
header {
  background-image: linear-gradient(to right, #0cce94, #60de72);
  background-size: 100%;
  padding-top: 5px;
  @media screen and (max-width: 768px) {
    padding-top: 0;
  }
  .top_header {
    background: #313131;
    padding: 7px 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    @media screen and (max-width: 768px) {
      padding: 7px 10px;
    }
    .logo {
      flex: 0 0 auto;
      @media screen and (max-width: 768px) {
        flex: 0 0 60%;
        img {
          width: 100%;
        }
      }
    }
    .contact {
      @media screen and (max-width: 768px) {
        flex: 0 0 30%;
        img {
          width: 100%;
        }
      }
    }

  }
  .b_header {
    color: #fff;
    font-size: 18px;
    padding: 10px 40px;
    @media screen and (max-width: 768px) {
      font-size: 12px;
      padding: 5px 10px;
    }
  }
}

#l_top {
  .main_visual {
    background: url("../images/img_mv.jpg") center center no-repeat;
    background-size: cover;
    padding-top: 210px;
    padding-bottom: 100px;
    color: #fff;
    @media screen and (max-width: 768px) {
      padding-top: 68px;
      padding-bottom: 60px;
    }
    &_text {
      max-width: 930px;
      margin: 0 auto;
      @media screen and (max-width: 768px) {
        max-width: 100%;
        padding: 0 25px;
      }
      h2 {
        font-size: 55px;
        margin-bottom: 55px;
        font-weight: bold;
        line-height: 70px;
        @media screen and (max-width: 768px) {
          font-size: 30px;
          margin-bottom: 10px;
          line-height: 40px;
        }
      }
      p {
        font-size: 18px;
        @media screen and (max-width: 768px) {
          font-size: 12px;
        }
      }
    }
  }
  .container {
    max-width: 930px;
    margin: 0 auto;
    @media screen and (max-width: 768px) {
      max-width: 100%;
      padding: 0 25px;
    }
  }
  .reason {
    background: #313131;
    color: #fff;
    padding: 50px 0 86px;
    @media screen and (max-width: 768px) {
      padding: 30px 0;
    }
    h2 {
      font-size: 36px;
      margin-bottom: 50px;
      @media screen and (max-width: 768px) {
        font-size: 20px;
        margin-bottom: 18px;
      }
    }
    &_list {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      @media screen and (max-width: 768px) {
        flex-wrap: wrap;
      }
      &_item {
        flex: 0 0 33.3%;
        text-align: center;
        @media screen and (max-width: 768px) {
          flex: 0 0 100%;
          text-align: left;
        }
        h3 {
          font-size: 18px;
          margin-bottom: 30px;
          line-height: 30px;
          height: 76px;
          @media screen and (max-width: 768px) {
            font-size: 15px;
            height: auto;
            margin-bottom: 0;
            display: list-item;
            list-style-position: inside;
            br {
              content: "";
            }
          }
        }
        img {
          @media screen and (max-width: 768px) {
            display: none;
          }
        }
      }
    }
  }
  .property {
    padding-top: 80px;
    position: relative;
    z-index: 2;
    @media screen and (max-width: 768px) {
      padding-top: 33px;
    }
    h2 {
      font-size: 30px;
      margin-bottom: 40px;
      text-align: center;
      @media screen and (max-width: 768px) {
        font-size: 17px;
        margin-bottom: 30px;
      }
    }
    &_list {
      display: flex;
      flex-direction: row;
      justify-content: left;
      flex-wrap: wrap;
      &_item {
        flex: 0 0 219px;
        margin-bottom: 63px;
        margin-right: 18px;
        &:nth-child(4n) {
          margin-right: 0;
        }
        @media screen and (max-width: 768px) {
          flex: 0 0 49%;
          margin-bottom: 30px;
          margin-right: 5px;
          &:nth-child(2n) {
            margin-right: 0;
          }
        }
        &_img {
          position: relative;
          img {
            width: 100%;
            height: 152px;
            @media screen and (max-width: 768px) {
              height: auto;
            }
          }
          .title {
            position: absolute;
            bottom: 20px;
            left: 0;
            background: rgba(0, 196, 167, 0.7);
            padding: 2px 5px;
            color: #fff;
            font-size: 16px;
            @media screen and (max-width: 768px) {
              font-size: 12px;
              width: 100%;
            }
          }
        }
        &_info {
          .price {
            color: #00cc99;
            @media screen and (max-width: 768px) {
              font-size: 10px;
              color: #4a66a9;
            }
          }
          .description {
            font-weight: bold;
            font-size: 12px;
            @media screen and (max-width: 768px) {
              font-size: 9px;
            }
          }
        }
      }
    }
  }
  .contact_field {
    background: url("../images/bg_contact.png") center center no-repeat;
    background-size: cover;
    padding-bottom: 50px;
    position: relative;
    margin-top: -130px;
    @media screen and (max-width: 768px) {
      margin-top: 0;
      padding-bottom: 200px;
    }
    &:before {
      background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 1));
      height: 150px;
      position: absolute;
      content: "";
      width: 100%;
      top: -20px;
      @media screen and (max-width: 768px) {
        height: 50px;
      }
    }
    .contact_field_inner {
      padding-top: 200px;
      @media screen and (max-width: 768px) {
      padding-top: 0;
      }
      .text {
        font-size: 12px;
        margin-bottom: 20px;
        text-align: center;
        position: relative;
        z-index: 20;
      }
    }
    &_text {
      background: rgba(255, 255, 255, 0.5);
      color: #2593b2;
      padding: 30px 0;
      text-align: center;
      font-size: 24px;
      margin-bottom: 35px;

    }
    .contact_button {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      p.icon {
        font-size: 50px;
        @media screen and (max-width: 768px) {
          font-size: 25px;
        }
      }
      .email,
      .phone {
        flex: 0 0 338px;
        color: #fff;
        font-size: 23px;
        padding: 10px;
        text-align: center;
        background: #00cc99;
        border-radius: 5px;
        box-shadow: 0px 3px 0px 0px rgba(0,0,0,0.75);
        position: relative;
        @media screen and (max-width: 768px) {
          flex: 0 0 160px;
          font-size: 10px;
          border-radius: 2px;
          padding: 5px;
        }
        @media screen and (max-width: 320px) {
          flex: 0 0 130px;
          font-size: 10px;
        }
        a {
          color: #fff;
          text-decoration: none;
          &:hover {
            text-decoration: none;
          }
          &:after {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            content: "";
          }
        }
      }
      .phone {
        background: #61de72;
      }
    }
  }
  .contact_fixed {
    position: fixed;
    bottom: 0;
    background: #fff;
    padding: 20px 5px 25px;
    z-index: 100;
    width: 100%;
    p.text {
      font-size: 12px;
      margin-bottom: 25px;
    }
    .contact_button {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      p.icon {
        @media screen and (max-width: 768px) {
          font-size: 25px;
        }
      }
      .email,
      .phone {
        flex: 0 0 338px;
        color: #fff;
        font-size: 23px;
        padding: 10px;
        text-align: center;
        background: #00cc99;
        border-radius: 5px;
        box-shadow: 0px 3px 0px 0px rgba(0,0,0,0.75);
        position: relative;
        @media screen and (max-width: 768px) {
          flex: 0 0 155px;
          font-size: 10px;
          border-radius: 2px;
          padding: 5px;
        }
        @media screen and (max-width: 320px) {
          flex: 0 0 128px;
          font-size: 10px;
        }
        a {
          color: #fff;
          text-decoration: none;
          &:after {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            content: "";
          }
        }
      }
      .phone {
        background: #61de72;
      }
    }
  }
}

.global_footer {
  background: #fff;
  background-image: linear-gradient(to right, #0cce94, #60de72);
  background-size: 100%;
  padding-bottom: 12px;
  @media screen and (max-width: 768px) {
    padding-bottom: 100px;
  }
  &_inner {
    padding: 50px 40px;
    background: #fff;
  }
  &_left {
    float: left;
    width: 40%;
    @media screen and (max-width: 768px) {
      width: 100%;
    }
    &_logo {
      width: 140px;
      display: block;
      margin-bottom: 30px;
    }
    &_company {
      margin-bottom: 30px;
    }
    &_license {
      color: #999;
    }
  }
  &_right {
    float: right;
    color: #999;
    @media screen and (max-width: 768px) {
      float: none;
    }
    &_sub {
      margin-top: 5px;
      li {
        display: inline-block;
        margin-left: 20px;
        &:first-child {
          margin-left: 0;
        }
        a {
          color: #333;
          text-decoration: none;
        }
      }
    }
    &_item {
      margin-top: 310px;
      text-align: right;
      @media screen and (max-width: 768px) {
        margin-top: 30px;
        text-align: center;
      }
      .global_footer_sns {
        display: inline-block;
        @media screen and (max-width: 768px) {
          display: block;
        }
      }
      .global_footer_sns_item {
        display: inline;
        margin-right: 10px;
        a {
          align-items: center;
          height: 1.8em;
          text-decoration: none;
          -webkit-transition: background 150ms;
          transition: background 150ms;
          width: 1.8em;
          color: #999;
        }
      }
      .global_footer_copyright {
        display: inline;
      }
    }
  }

  .footer_bnr_jpx {
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin-top: 20px;
    .bnr_jpx_img {
      width: 33px;
      img {
        width: 100%;
      }
    }
    .bnr_jpx_txt {
      margin-left: 10px;
    }
  }
  .global_footer_sub {
    margin-bottom: 20px;
    li a {
      color: #333;
      padding: 5px 0;
      display: block;
      text-decoration: none;
    }
  }
}
