@charset "utf-8";
@import "settings";
@import "utilities";
@import 'themify-icons';

/* -----------------------------------------------------------
  reset
----------------------------------------------------------- */
html{overflow-y:scroll}abbr,address,article,aside,audio,b,blockquote,body,caption,cite,code,dd,del,dfn,dialog,div,dl,dt,em,fieldset,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,p,pre,q,samp,section,small,span,strong,sub,sup,table,tbody,td,tfoot,th,thead,time,tr,ul,var,video{margin:0;padding:0}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal}table{border-collapse:collapse;border-spacing:0}caption,th{text-align:left}q:after,q:before{content:''}embed,object{vertical-align:top}hr,legend{display:none}h1,h2,h3,h4,h5,h6{font-size:100%}abbr,acronym,fieldset,img{border:0}li{list-style-type:none}sup{vertical-align:super;font-size:.5em}img{vertical-align:top}i{font-style:normal}


/* -----------------------------------------------------------
  default
----------------------------------------------------------- */
html {
  line-height: 1.5;
  font-size: 62.5% !important;
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%; /* iOS 8+ */
  @include mq(sp) {
    &[data-direction=portrait] {
      font-size: 3vw !important;
    }
  }
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #aaa;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #aaa;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #aaa;
}

body {
  @include fz(16);
  color: $baseColor;
  background: #fff;
  -webkit-text-size-adjust: none;
  font-weight: 400;
  overflow: hidden;
  @media screen and (max-width: 768px) {
    @include fz(14);
  }
}
body,pre,input,textarea,select {
  font-family: 'Noto Sans JP', sans-serif;
}
input,select,textarea {
  font-size: 100%;
}
input {
  border: solid 1px #E5E5E5;
}
// .mouseOver
.over {
  .mouse & {
    transition: opacity 150ms ease-in;
  }
  @include hover {
    opacity: .7;
  }
}

.pc_only {
  @media screen and (max-width: 768px) {
    display: none;
  }
}
.sp_only {
  display: none;
  @media screen and (max-width: 768px) {
    display: block;
  }
}
.container {
  max-width: 1160px;
  margin: 0 auto;
  @media screen and (max-width: 768px) {
    max-width: 100%;
    padding: 0 24px;
  }
}

/* IE9, IE10 */
@media screen and (min-width:0\0) {
  .t_header .header_inner{
    height: 40px;
    align-items: center;
  }
}
