/*===============================================
   companyTable
===============================================*/
.show_company_info {
  a {
    display: inline-block;
    color: #000;
    line-height: 1.4;
  }
  dl {
    dt {
      padding: 0 0 10px;
      background-color: transparent;
      font-weight: bold;
    }
    dd {
      padding: 0 0 22px;
      line-height: 1.9;
      span.office-post {
        float: left;
        width: 180px;
        margin-right: 30px;
      }
      .address {
        line-height: 1;
        margin-bottom: 40px;
        a {
          margin-top: 10px;
          margin-bottom: 5px;
        }
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}
