@charset "UTF-8";
/* ========================================
    ■ 必須設定
======================================== */
/* reset
----------------------------- */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
html {
  font-size: 62.5%;
  line-height: 1.65;
  overflow-x: hidden;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

th {
  font-weight: normal;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

input, select, textarea, img {
  vertical-align: middle;
}
/* Remove the default button styling in all browsers */
button,
input,
select,
textarea {
  background-color: transparent;
  border-style: none;
  color: inherit;
}

ul, dl, ol {
  list-style: none;
}

/* 共通設定
----------------------------- */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

body {
  color: #333;
  font-family: "YuGothic-M", "游ゴシック Medium", YuGothic, "游ゴシック体", Meiryo, メイリオ, sans-serif;
  font-size: 14px;
  overflow: hidden;
}
.pc_only {
  display: block;
  @media screen and (max-width: 800px) {
    display: none;
  }
}

.sp_only {
  display: none;
  @media screen and (max-width: 800px) {
    display: block;
  }
}
#frontale {
  .main_visual {
    img {
      width: 100%;
      height: auto;
    }
  }
  .main_content {
    background: url("../images/img_bg.jpg") repeat top;
    background-size: cover;
    padding-top: 110px;
    padding-bottom: 220px;
    width: 100%;
    @media screen and (max-width: 800px) {
      padding-bottom: 170px;
      background-size: 100%;
    }
    .container {
      max-width: 800px;
      width: 100%;
      margin: 0 auto;
      text-align: center;
      @media screen and (max-width: 800px) {
        width: 100%;
        padding: 0 30px;
      }
      @media screen and (max-width: 500px) {
        padding: 0 15px;
      }
      h1 {
        margin-bottom: 95px;
        text-align: center;
        @media screen and (max-width: 800px) {
          padding: 0 60px;
        }
        @media screen and (max-width: 500px) {
          padding: 0 30px;
        }
        img {
          width: 692px;
          height: 48px;
          @media screen and (max-width: 800px) {
            width: 100%;
            height: auto;
          }
        }
      }
      p {
        &.intro {
          font-size: 2.2rem;
          line-height: 5rem;
          margin-bottom: 100px;
          @media screen and (max-width: 800px) {
            span {
              display: block;
            }
            br {
              content: "";
            }
          }
          @media screen and (max-width: 800px) and (min-width: 631px) {
            font-size: 3.2rem;
          }
          @media screen and (max-width: 630px) {
            font-size: 1.6rem;
            line-height: 3.2rem;
            margin-bottom: 70px;
          }
        }
        &.caption {
          font-size: 1.4rem;
          text-align: left;
          @media screen and (max-width: 800px) and (min-width: 631px) {
            font-size: 2.4rem;
          }
          @media screen and (max-width: 630px) {
            font-size: 1.2rem;
          }
          @media screen and (min-width: 801px) {
            br {
              content: "";
            }
          }
        }
      }
    }
  }
  .youtube {
    background-color: #000;
    margin-bottom: 20px;
    position: relative;
    padding-top: 56.25%;
    overflow: hidden;
    cursor: pointer;
    iframe {
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
    }
    img {
      width: 100%;
      top: 0;
      left: 0;
      opacity: 0.7;
      cursor: pointer;
      position: absolute;
    }
    .play-button {
      width: 90px;
      height: 60px;
      background-color: #333;
      box-shadow: 0 0 30px rgba( 0,0,0,0.6 );
      z-index: 1;
      opacity: 0.8;
      border-radius: 6px;
      cursor: pointer;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate3d( -50%, -50%, 0 );
      &:before {
        content: "";
        border-style: solid;
        border-width: 15px 0 15px 26.0px;
        border-color: transparent transparent transparent #fff;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate3d( -50%, -50%, 0 );
      }
    }
  }
}


/* footer
----------------------------- */
.global_footer {
  background: #fff;
  padding: 50px 0;
  border-top: solid 1px #E5E5E5;
  .wrapper {
    max-width: 1160px;
    width: 100%;
    margin: 0 auto;
  }
  .container {
    overflow: hidden;
  }
  &_left {
    float: left;
    &_logo {
      width: 140px;
      display: block;
      margin-bottom: 30px;
    }
    &_company {
      margin-bottom: 30px;
    }
    &_license {
      color: #999;
      font-size: 10px;
    }
  }
  &_right {
    float: right;
  }
  .global_footer_right_sub {
    margin-top: 5px;
    li {
      display: inline-block;
      margin-left: 30px;
      a {
        color: #333;
        text-decoration: none;
      }
    }
  }
  .global_footer_right_item {
    margin-top: 310px;
    text-align: right;
    overflow: hidden;
    i {
      color: #999;
    }
    a {
      align-items: center;
      height: 18px;
      text-decoration: none;
      -webkit-transition: background 150ms;
      transition: background 150ms;
      width: 18px;
    }
    &:nth-child(n+2) {
      margin-left: 8px;
    }
    .global_footer_sns {
      display: inline-block;
      &_item {
        display: inline;
        margin-right: 10px;
      }
    }
    .global_footer_copyright {
      display: inline;
      font-size: 12px;
    }
  }
  .footer_bnr_jpx {
    width: 100%;
    height: auto;
    display: flex;
    color: #333;
    align-items: center;
    margin-top: 30px;
    .bnr_jpx_img {
      width: 45px;
      background: url("../images/footer_bnr_jpx.png") no-repeat;
      background-size: cover;
      height: 51px;
      margin-right: 10px;
    }
  }
  @media screen and (max-width: 768px) {
    padding: 30px 20px;
    &_left {
        float: none;
      &_license {
        font-size: 12px;
      }
    }
    .footer_bnr_jpx {
      margin-bottom: 20px;
    }
    .footer_nav {
      margin-bottom: 10px;
      font-size: 14px;
      p {
        margin-bottom: 5px;
      }
    }
    .footer_social {
      text-align: center;
      i {
        color: #999;
        font-size: 22px;
      }
      .global_footer_sns_item {
        display: inline-block;
        margin-right: 20px;
        margin-bottom: 20px;
        a {
          text-decoration: none;
        }
      }
      .global_footer_copyright {
        color: #ccc;
        font-size: 10px;
      }
    }
  }
}
